.banner {
    width: 100%;
    object-fit: contain;
    height: 448px;
    color: white; 
    
    
}

.banner__content {
    padding-top: 130px;  
    padding-left: 40px;   
    
}


.banner__content h1 {
    font-size: 47px;
}

.banner__buttons button {
    background-color: rgba(51,51,51,0.5);
    outline: none;
    border: none;
    color: white;
    padding: 10px 26px;
    font-weight: bolder;
    margin: 15px 0;
    margin-right: 15px;
    cursor: pointer;
   
}

button:hover {
    color: black;
    background-color: white;
}

.banner__description {
    width: 500px;
    font-size: 0.9rem;
    letter-spacing: 1.5;
    font-weight: lighter;
}

.banner--fade {
    height: 9.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #101
    );
}



